:root {
    --gap-x: 16px;
    --col-width: calc((100vw - 12 * var(--gap-x)) / 12);
    --primary-clr: #21405d;
    --logo-text: #08223d;
    --top-bg: #b5bfc2;
}
::-webkit-scrollbar {
    display: none;
    visibility: hidden;
}
@font-face {
    font-family: 'Baskerville';
    src: url(../fonts/Baskerville.ttf);
}
@font-face {
    font-family: 'BellMT';
    src: url(../fonts/BellMT.ttf);
}
@font-face {
    font-family: 'HallowSolid';
    src: url(../fonts/HarlowSolid.ttf);
}
@font-face {
    font-family: 'Kunstler';
    src: url(../fonts/Kunstler.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100vw;
    font-size: 16px;
    background-color: var(--top-bg);
}

/* LAYOUT */
.logo__name {
    font-size: 44pt;
    text-align: center;
    font-weight: 300;
    color: var(--logo-text);
    font-family: 'Baskerville';
    font-style: normal;
}
.class_name {
    font-family: 'HallowSolid';
    text-align: center;
    font-size: 30pt;
    color: var(--logo-text);
}
.nav-item {
    font-family: 'Baskerville';
    font-size: 32pt;
    font-style: italic;
    text-align: center;
    cursor: pointer;
    border-top: 8px solid var(--primary-clr);
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col-1 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 1);
}
.col-2 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 2);
}
.col-3 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 3);
}
.col-4 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 4);
}
.col-5 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 5);
}
.col-6 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 6);
}
.col-7 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 7);
}
.col-8 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 8);
}
.col-9 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 9);
}
.col-10 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 10);
}
.col-11 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 11);
}
.col-12 {
    margin: 0 var(--gap-x);
    width: calc(var(--col-width) * 12);
}
.align-item-center {
    display: flex;
    align-items: center;
}
.relative {
    position: relative;
}
.text-center {
    text-align: center;
}
.right-0 {
    right: 0;
    left: unset;
}
.left-0 {
    left: 0;
    right: unset;
}
.top-0 {
    top: 0;
    bottom: unset;
}
.bottom-0 {
    bottom: 0;
    top: unset;
}

.active-route {
    font-weight: bold;
}

.justify-center {
    display: flex;
    justify-content: center;
}
.justify-spacing-around {
    display: flex;
    justify-content: space-around;
}
.width-50 {
    width: 50%;
}
.text-right {
    text-align: right;
}