.logo__name {
    font-size: 44pt;
    text-align: center;
    font-weight: 300;
    color: var(--logo-text);
}
.class_name {
    font-family: 'HallowSolid';
    text-align: center;
    font-size: 30pt;
    color: var(--logo-text);
}
.nav-item {
    font-family: 'Baskerville';
    font-size: 32pt;
    font-style: italic;
    text-align: center;

    border-top: 8px solid var(--primary-clr);
}
